# MQTT Broker
MQTT_BROKER=mosquitto
MQTT_PORT=1883

# Publish interval (giây)
PUBLISH_INTERVAL=5

# ThingsBoard (dùng cho SV3)
TB_HOST=thingsboard.cloud
TB_PORT=1883
TB_GATEWAY_TOKEN=YOUR_GATEWAY_TOKEN_HERE

# InfluxDB (dùng cho SV2)
INFLUXDB_URL=http://influxdb:8086
INFLUXDB_TOKEN=YOUR_INFLUXDB_TOKEN_HERE
INFLUXDB_ORG=hust
INFLUXDB_BUCKET=iot
